<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" href="assets/favicon.ico" type="image/x-icon" />

    <title> <%- (title) ? title : 'App Toko Online' %> </title>

    <!-- bootstrap  -->
    <link rel="stylesheet" href="assets/plugins/bootstrap/css/bootstrap.min.css" />
    <!-- <link rel="stylesheet" href="assets/plugins/bootstrap/css/bootstrap.min.css.map" /> -->

    <!-- jquery -->
    <script src="assets/js/jquery.min.js"></script>
  </head>
  <body>
    <%- body %>

    <!-- bootstrap  -->
    <script src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <!-- <script src="assets/plugins/bootstrap/js/bootstrap.min.js.map"></script> -->
  </body>
</html>
