<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>hello</h1>

      <p class="seed"
        >Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatibus asperiores tenetur, dolor assumenda, voluptate enim facilis praesentium pariatur officia corporis
        ratione et exercitationem, iusto laudantium sapiente aspernatur fugit nostrum nisi. Incidunt at cupiditate laudantium vel ipsum ipsa natus velit, eum inventore debitis. Non
        rem vero soluta optio hic, qui sunt ullam corrupti cupiditate. Impedit officia amet illum error? Dolore assumenda iusto odit ducimus accusamus at voluptate enim et labore
        dolorem. Eaque, repellat. Architecto odit sit totam quo deserunt sint in, animi nisi provident optio, cumque beatae. Sit nemo dicta vero maiores unde nobis, ullam aut
        laborum minima enim? Magni, reprehenderit.</p
      >
    </div>
  </div>
</div>
